/* app.component.css */
body{
  background-color: #dfebed;
}
.content-window {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .content-window {
    background-color: transparent;
    width: 95%;
    max-width: none;
    margin: 1rem auto;
    padding: 10px;
  }

  .table-responsive {
    background-color: transparent;
    overflow-x: auto;
  }

}
